.nav{
    display: flex;
    gap: 10px;
    border: 2px solid ;
    justify-content: space-between;
    height: 100px;
    background-color: green;
    margin-left: 10%;
    margin-right: 10%;
}

#menu{
    
display: none;
}

#fun{
    
    display: none;
}
.menu1{
    position:relative;
    left: -1000%;
    transition: 1s;
    background-color: greenyellow;
}
#fun:checked+.menu1{
    left: 20%;
}
#sy{
    color: black;
}



header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    
}

.child1{
    margin-top:30px;
    padding-left: 10px;
    margin-right: 5px;
}
.child1>a{
    text-decoration: none !important;
    color: black !important;
    
}

.child1:hover{
    color: white;
    
}
.child{
padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 1px solid;
    width: 15%;
    height: 60px;
    border-radius: 10px;
    background-color: white;    
}
.container1{
    background-image: url(https://speedsolution.in/Farm2Market/images/Banner-1.jpg );
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;

}

 .section1{
    padding-top: 20%;
    padding-left: 10%;
 }   
.s111{
    line-height: 1%;
    width: 100%;
    
}
.s11{
    font-size:50px;
    font-weight: bold;
    
    
    
}
.s12{
    margin-top: 5%;
    border: 1px solid;
    color: white;
    background-color: black;
    font-size:30px;
    font-weight: bold;
    width: 35%;
    background-size: 30%;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    
    
    
}
.s13{
    width: 30%;
    font-size: 24px;
    
}
.but{
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    background-color: rgb(22, 249, 41);
    height: 40px;
    
}
.but:hover{
    color:rgb(34, 207, 75);
    background-color: white;
    
}
.icon{
    
    display: grid;
    grid-template-columns: auto auto auto auto;

    margin-top: 10px;
    gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 0px;

    
}
.icon1{
    width: 100%;
    border: 1px ;
    display: grid;
    
    
    
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 40vh;
    font-size: 20px;
    font-weight: bold;

    
}
.icon1:hover{
    background-color: rgb(28, 220, 41);
}
i{
    text-align: center;
    
    font-size:40px ;

    color: green;

    
    margin-top: 20%;

}
.icon1>p{
    text-align: center;
    
}
.container2{
    margin-top: 20px;
    width: 100%;
    height: 700px;
    background-image: url(	https://speedsolution.in/Farm2Market/images/banner-image2-transformed.jpeg);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    z-index: 0px;
}
.ct2{
    font-size: large;
    width: 30%;
    padding-left: 10%;
    
}
.but1{
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    background-color: rgb(75, 225, 75);
    height: 40px;}
    .but1:hover{
    color: rgb(48, 215, 48);
    background-color: white;}
    
    
.container3{
    text-align: center;
    width: 70%;
    font-size: 20px;
    padding-left: 30%;
    z-index: 0px;
    
}
.container4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;

    margin-top: 30px;
    z-index: 0px;
    animation: slidein 5s linear 3s infinite alternate-reverse backwards;
}
@keyframes slidein {
    from{
        transform: translate(100%);
    }
    to{
        transform: translate(-100%);
} 
} 
#img{
    border-radius: 10px;
} 



.ct41:hover{
    transform: scale(1.1);
}
.ct41{
    border: 2px ;
    width:100%;
    padding: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;;
    
    
}


.ct41~.but2:hover{
    display: block;
}
 

.ct42{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


    
.but2{
    
    
    border: 2px solid rgb(55, 163, 55);
    width:70%;
    height: 40px;
    border-radius: 40px;
    color: white;
    background-color: rgb(50, 177, 50);
    margin-left: 50px;
    
}
.but2:hover{
    color: green;
    background-color: white;
}
 .container5{
    background-color: rgb(26, 166, 26);
     height: 60vh;

} 
 .ct51{
    
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    
 } 
 .ct52{
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    height: 40vh;
    background-color: black;
    color: white;


 }  
 .ct521{
    
    margin: 10px 10px 10px 10px;
    
    
 }
 .ct522{
    text-align: center;
    padding-top: 10%;
 }
 .container6{
    width: 100%;
 }
 .ct61{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
 }
 
 .ct62{
    width: 100%;
    display: grid;
    grid-template-columns:30% 30% 30%;
    gap: 10px;
    justify-content: center;
    
 }
 .ct621{
    width: 90%;
    height: 300px;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
 }
 .ct621:hover{
transform:scale(0.8)

 }
 
 .but3{
    
    border: 2px solid black;
    border-radius: 40px;
    justify-content: center;
    color: white;
    background-color: green;
    height: 50px;
    width: 10%;
    margin-left: 45%;
 }
 .but3:hover{
    border: 2px solid green;
    color: green;
    background-color: white;
 }


 .container7{

    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    gap:90px;
    position: absolute;
    top:0px;
    margin-left:90px;
    
    

 }
 .ct71:hover{
    color:rgb(183, 30, 30);
    margin-left: 18px;
    transition-duration: 1s;
    transform: scale(1.1);
    

 }
 .vin{
    height:1000px;
    
 }
.ct8{
    position: relative;
    margin-top: 200px;
    
}
#but4{
    border-radius: 30px;
    color: white;
    background-color: green;
}
#but4:hover{
    color:green;
    background-color: white;
}


.footer{
    background-color: green;
    height: 8vh;
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
    margin-top: 0px;
}







@media screen and (827px<width<922px){
    .nav{
    width:80%;
    }
    .container1{
        background-image: url(https://speedsolution.in/Farm2Market/images/Banner-1.jpg ) ;
        width: 100%;
        height: 100vh;
        background-size: 100%;
    
        background-repeat: no-repeat;
        background-position:10% 10% 10% 10%;
    }
    .icon{
       width: 100%;
       grid-template-columns: auto auto;
       padding: 0% 0% 0% 0%;
    }
    #bar{
        display: block;
        margin-top: 30px;
    }
    #bar:hover{
    display: block;
    
    }
    #menu{
        display: block;
    }
    .menu1{
        display: block;
        opacity: 0.3;
    }
    #sy:hover{
        color: white;
    }
    
    
    .container4{
        width: 100%;
        grid-template-columns: auto auto;
        animation: none;
    }
    .ct2{
        width: 70%;
    }
    .ct62{
    grid-template-columns: auto auto;
    }
    .container5{
        height: 70vh;
        width: 100%;
    }
    .container7{
        grid-template-columns: auto auto;
    }
    .child1{
        display: none;
    }
    .child{
       width: 50%;
    }
    .section1{
        padding-top: 15%;
        width: 100%;
        height: 30vh;
    }
    .s11{
        width: 55%;
        height: 1vh;
        font-size: 34px;
        margin-bottom: 0%;
    }
    .s12{
        width: 60%;
    
        font-size:20px ;
    }
    .but3{
        width: 25%;
    }
    .but{
        width: 30%;
        font-size: 10px;
    }
    .s111{
        line-height: 1%;
        width: 100%;
    
    }
    .vin{
        display: none; 
    }
    .footer{
       margin-top:200vh;
    }
    
    }














@media screen and (400px<width<576px){
.nav{
width:80%;
}
.container1{
    width: 100%;
    background-image: url(https://speedsolution.in/Farm2Market/images/Banner-1.jpg );
    background-size: 550px 700px;
    
    
    
    
}
.icon{
   width: 100%;
   grid-template-columns: auto;
   padding: 0% 0% 0% 0%;
}
#bar{
    display: block;
    margin-top: 30px;
}
#bar:hover{
display: block;

}
#menu{
    display: block;
}
.menu1{
    display: block;
    
}
#sy:hover{
    color: white;
}

.container4{
    width: 100%;
    grid-template-columns: auto;
    animation:none;
}

.ct2{
    width: 70%;
}
.ct62{
grid-template-columns: 100%;
}
.container5{
    height: 70vh;
    width: 100%;
}
.container7{
    grid-template-columns: auto;
}
.child1{
    display: none;
}
.child{
    margin-right: 20%;
   width: 50%;
}
.section1{
    padding-top: 25%;
    width: 100%;
    height: 30vh;
    
}
.s11{
    width: 55%;
    height: 20vh;
    font-size: 34px;
    
}
.s12{
    width: 50%;
    
    font-size:20px ;
}
.s13{
    width: 50%;

}
.but3{
    width: 25%;
}
.but{
    width: 30%;
    font-size: 10px;
}
.s111{
    
    width: 100%;

}
.vin{
    display: none; 
}
.footer{
   margin-top:200vh;
}

}









    